.container{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
  overflow-y: auto;
  height: 40vh;
  border: 1px solid black;
  margin-bottom: 2vh;
  padding: 10px;
}

.text-input{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5vh;
}

.avatar {
  font-size: 24px;
  margin: 0 10px;
}

.user-message {
  justify-content: flex-end;
}

.bot-message {
  justify-content: flex-start;
}

.message-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.message-content {
  max-width: 60%;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.user-message .message-content {
  background-color: #daf8cb;
}

.bot-message .message-content {
  background-color: #f1f0f0;
}